.default_button{
    background-color: cyan; 
    color:black;
}
.error {
    color: red;
    font-size: 12px;
  }

  small{
    color:red;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button{
    margin-top: 20px;
}