<h1>Create new Reservation!</h1>

<fieldset>
    <h5>Reservation Info:</h5>
    <form [formGroup]="reservationForm" class="grid-container">
        <section class="input-group input-group-icon">
            <h4>Book Title*:</h4>
            <select formControlName="bookId" id="bookId">
                <option *ngFor="let book of bookMap| keyvalue" [value]="book.key">
                {{ book.value }}
                </option>
            </select>
            <div *ngIf="reservationForm.get('bookId')?.invalid && (reservationForm.get('bookId')?.touched || reservationForm.get('bookId')?.dirty)">
                <small class="error" *ngIf="reservationForm.get('bookId')?.errors?.['required']">Book Title is required.</small>
              </div>
        </section>
        <section class="input-group input-group-icon">
            <h4 for="customerId">Select Customer*:</h4>
            <select formControlName="customerId" id="customerId">
                <option *ngFor="let customer of customerMap| keyvalue" [value]="customer.key">
                {{customer.key}} - {{ customer.value }}
                </option>
            </select>
            <div *ngIf="reservationForm.get('customerId')?.invalid && (reservationForm.get('customerId')?.touched || reservationForm.get('customerId')?.dirty)">
                <small class="error" *ngIf="reservationForm.get('customerId')?.errors?.['required']">Customer is required.</small>
              </div>
        </section>
        <section class="input-group input-group-icon">
            <h4 for="returnBy">Return by*:</h4>
            <input type="date" id="returnBy" formControlName="returnBy" />
            <div *ngIf="reservationForm.get('returnBy')?.invalid && (reservationForm.get('returnBy')?.touched || reservationForm.get('returnBy')?.dirty)">
                <small class="error" *ngIf="reservationForm.get('returnBy')?.errors?.['required']">Return by is required.</small>
              </div>
          </section>

    </form>
    <button mat-flat-button class="btn default_button" [disabled]="reservationForm.invalid" (click)="addReservation()">
        Submit
     </button>
</fieldset>
