
.btn{
  margin: 10px;
}

.cancel_button{
  color: red !important;
  margin-left: 10px;
}

.info {
  padding: 15px;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert {
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin: 20px;
  border-radius: 5px;
}
