
<h1>Book collection</h1>
<button class="btn default_button" mat-flat-button aria-label="search" data-toggle="tooltip" data-placement="top" title="search" (click)="searchFilter()" >
  <mat-icon>search</mat-icon> Search
</button>
<button mat-flat-button class="btn default_button" (click)="addBook()">
  <mat-icon>add</mat-icon> Add new book
</button>

@if( searchFilterFlag ){

  <section class="alter info">
    <b>Search options:</b> 
    <span *ngIf="searchResults.name">
    Name: {{ searchResults.name }} 
  </span>
    <span *ngIf="searchResults.author">
    Author: {{ searchResults.author }} 
  </span>
    <span *ngIf="searchResults.year">
    Year: {{ searchResults.year }} 
  </span>
    <span *ngIf="searchResults.createdFrom">
    Created from date: {{ searchResults.createdFrom }} 
  </span>
    <span *ngIf="searchResults.createdTo">
    Created until date: {{ searchResults.createdTo }} 
  </span>
    <button mat-icon-button class="btn cancel_button" aria-label="cancel" data-toggle="tooltip" data-placement="top" title="cancel" (click)="resetBooks()">
      <mat-icon>clear</mat-icon>
    </button>
  </section>

}


  <br>
<app-list-of-books [books]="filteredBooks" [categories]="categories" [isRentable]="false"></app-list-of-books>
