.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 25px;
    row-gap: 15px;
    }
    mat-card-title{
        color:white
    }
    mat-card{
        color: black;
    }
    mat-card-content{
        height: 200px;
        padding-top: 10%;
        background-color: rgb(204, 252, 255);
    }

    mat-button-toggle-group{
        background-color: gray;
        font-size: medium;
    }

    .toggle-group-container {
        display: flex;
        margin-bottom: 10px;
        justify-content: center; /* Centers the toggle group horizontally */
        padding: 10px 0; /* Optional padding for spacing */
      }

    .btn{
        margin: 10px;
    }
    
    .default_button{
        background-color: cyan; 
        color:black;
    }
    
    .delete_button{
        background-color: red;
    }