<mat-button-toggle-group
[formControl]="categoryControl"
    name="ingredients"
    aria-label="Ingredients"
    [hideMultipleSelectionIndicator]="hideMultipleSelectionIndicator()"
    value="all"
    >
  @for(category of categories;track $index){
    <mat-button-toggle value="{{category}}">{{category}}</mat-button-toggle>
  }
  <mat-button-toggle value="all">All</mat-button-toggle>
  </mat-button-toggle-group>
<div class="grid-container">
    @if(filteredBooks.length>0){
        @for(book of filteredBooks;track $index){
            <mat-card >
                <mat-card-header>
                  <mat-card-title>{{book.name}}</mat-card-title>
                  <mat-card-subtitle>{{book.type}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="center">
                            <p>
                            <b>Author:</b> {{book.author}}
                          </p>
                          <p>
                            <b>Year:</b> {{book.year}}
                          </p>
                          <p>
                            <b>Created On:</b> {{book.createdOn|date:'MMM d, y'}}
                          </p>
                    </div>          
                </mat-card-content>
                <mat-card-actions>
                    @if(isRentable){
                        <button mat-flat-button>Rent</button>
                    } 
                    @else {
                      <button class="btn default_button" mat-fab aria-label="edit" data-toggle="tooltip" data-placement="top" title="edit" (click)="editBook(book._id)">
                        <mat-icon>settings</mat-icon>
                      </button> 
                      <button class="btn delete_button" mat-fab aria-label="delete" data-toggle="tooltip" data-placement="top" title="delete" (click)="confirmDelete(book._id)" >
                        <mat-icon>delete</mat-icon>
                      </button>
                    }
                </mat-card-actions>
              </mat-card>
        }
        @empty {
        No books found!
        }
    }
    @else {
       <p>Something went wrong</p> 
    }
    
    </div>

