.btn{
    margin: 10px;
}

.default_button{
    background-color: cyan; 
    color:black;
}

.delete_button{
    background-color: red;
}

.filter{
    border-color: black;
  }
  
  .cancel_button{
    background-color: red !important;
  }