@if(isViewMode){
    <h1>Customer Info</h1>
}@else if (customerId) {
    <h1>Edit Customer</h1>
}@else {
    <h1>Create new Customer!</h1>
}

<fieldset>
    <legend>Personal Info:</legend>
    <form [formGroup]="customerForm">
        <section>
            <label>First Name*:</label>
            <input type="text" formControlName="name" [value]="customer?.name" [disabled]="isViewMode"/>
            <div *ngIf="customerForm.get('name')?.invalid && (customerForm.get('name')?.touched || customerForm.get('name')?.dirty)">
                <small class="error" *ngIf="customerForm.get('name')?.errors?.['required']">First Name is required.</small>
                <small class="error" *ngIf="customerForm.get('name')?.errors?.['minlength']">First Name must be at least 3 characters.</small>
                <small class="error" *ngIf="customerForm.get('name')?.errors?.['maxlength']">First Name cannot exceed 15 characters.</small>
              </div>
        </section>
        <section>
            <label>Last Name*:</label>
            <input type="text" formControlName="surname" [value]="customer?.surname" [disabled]="isViewMode"/>
            <div *ngIf="customerForm.get('surname')?.invalid && (customerForm.get('surname')?.touched || customerForm.get('surname')?.dirty)">
                <small class="error" *ngIf="customerForm.get('surname')?.errors?.['required']">Last Name is required.</small>
                <small class="error" *ngIf="customerForm.get('surname')?.errors?.['minlength']">Last Name must be at least 3 characters.</small>
                <small class="error" *ngIf="customerForm.get('surname')?.errors?.['maxlength']">Last Name cannot exceed 15 characters.</small>
              </div>
        </section>
        <section>
            <label>Phone Number*:</label>
            <input type="text" formControlName="phoneNumber" [value]="customer?.phoneNumber" [disabled]="isViewMode"/>
            <div *ngIf="customerForm.get('phoneNumber')?.invalid && (customerForm.get('phoneNumber')?.touched || customerForm.get('phoneNumber')?.dirty)">
                <small class="error" *ngIf="customerForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</small>
                <small class="error" *ngIf="customerForm.get('phoneNumber')?.errors?.['minlength']">Phone Number must be at least 8 characters.</small>
                <small *ngIf="customerForm.get('phoneNumber')?.errors?.['pattern']">Invalid phone number format.</small>
              </div>
        </section>
        <section>
            <label>Email*:</label>
            <input type="text" formControlName="email" [value]="customer?.email" [disabled]="isViewMode"/>
            <div *ngIf="customerForm.get('email')?.invalid && (customerForm.get('email')?.touched || customerForm.get('email')?.dirty)">
                <small class="error" *ngIf="customerForm.get('email')?.errors?.['required']">Email is required.</small>
                <small class="error" *ngIf="customerForm.get('email')?.errors?.['email']">Invalid email format.</small>
              </div>
        </section>
        @if(!isViewMode){
            <button mat-flat-button class="default_button" [disabled]="customerForm.invalid" (click)="customerId? updateCustomer():addCustomer()">
                Submit
             </button>
        }
        
    </form>
</fieldset>

