a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  a.active {
    font-weight: bold;
  }
  
  mat-toolbar {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .logo{
    padding-right: 10px;
  }