<mat-toolbar color="primary" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a  [routerLink]="''" class="logo"> <img src="logo-no-background.png" style="height: 100px; width:400px;"></a>
        <a mat-tab-link
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive="active-link"           
      [routerLinkActiveOptions]="{ exact: true }" 
       #rla="routerLinkActive"
       [active]="rla.isActive">
        {{link.label}}
      </a>
      </nav>
</mat-toolbar>

<mat-tab-nav-panel #tabPanel>
  </mat-tab-nav-panel>

