.default_button{
    background-color: cyan; 
    color:black;
}
.btn{
    margin: 10px;
    font-size: x-large;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

table{
  margin-top: 2%;
}

th, td{
  font-size: x-large;
}

.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert {
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin: 20px;
  border-radius: 5px;
}